<center>
<h1>ALL PRODUCTS:</h1>
<br><br>

<% @products.each do |product| %>

<div><a href="/products/<%= product.id %>">
  <img src="<%= product.image %>">
  <br><h3><%= product.name %></h3></a>
</div>

  <p>$ <%= product.price %></p>
  <button type="button" class="btn btn-primary">BUY</button><br><br>

<% end %>
</center>